/*! purgecss start ignore */
@tailwind base;
@tailwind components;

@font-face {
  font-family: 'siddur';
  src: url('./fonts/SiddurOCGX.ttf') format('ttf'), url('./fonts/SiddurOCGX.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: 'SBLhebrew';
  src: url('./fonts/SBL_Hbrw.ttf') format('ttf'), url('./fonts/SBL_Hbrw.woff2') format('woff2');
}
@font-face {
  font-family: 'Heebo var';
  font-weight: 100 900;
  font-style: normal;
  font-named-instance: 'Regular';
  font-display: swap;
  src: url('./fonts/Heebo-beta-VF.ttf');
}

.siddur {
  font-family: 'siddur', 'Heebo var', sans-serif;
  font-variation-settings: 'wght' 700;
  font-weight: normal !important;
  font-size: 32px;
  margin-top: -0.4em; // fixes leading bug
  &.font-light {
    font-variation-settings: 'wght' 100;
    font-weight: 100;
  }
}

// Page transition
.page-enter-active {
  transition: all 0.3s ease-in;
}
.page-leave-active {
  transition: none;
}
.page-enter,
.page-leave-to {
  opacity: 0;
  transform: translateY(10px);
}
.transition {
  transition: all 0.3s ease;
}

// lists transition
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: scale(0.5);
}

// scrollbar
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  @apply bg-gray-400 rounded-full;
}
::-webkit-scrollbar-thumb {
  width: 10px;
  @apply bg-gray-600 rounded-full;

  &:hover {
    @apply bg-gray-800;
  }
}

::-webkit-scrollbar-resizer {
  display: none;
}
::-webkit-scrollbar-button {
  height: 0px;
}

::selection {
  @apply bg-teal-300; /* WebKit/Blink Browsers */
}

/*! purgecss end ignore */

@tailwind utilities;
